body
{
	background: url("../img/qwbx/block_1_bg.jpg") #000 scroll no-repeat center top
}
/*区位展示*/
.mainSection
{
	width:778px;
	height:395px;
	margin:0 auto;	
}

div.mainSection img
{
	border:1px solid #C5A86E;
}

.block_1_1
{
	width:778px;
	height:345px;
	margin:0 auto;	
	padding:13px;
	border:1px solid #C5A86E;
}


div.slide
{
	width:764px;
	height:321px;
	margin:0 auto;
	padding:13px;
}

a.slidesjs-previous
{
	position:absolute;
	margin-left:-50px;
	margin-top:-170px
}
a.slidesjs-next
{
	position:absolute;
/*	float:right;*/
	margin-left:800px;
	margin-top:-170px
}