body
{
	background: url("../img/hztd/hztd_1_bg.jpg") #000 scroll no-repeat center top
}
div.hztd
{
	width:849px;
	height:339px;
	margin:0 auto;
	margin-bottom:60px;
	background:url("../img/hztd/hztd_1_1.png");
}
div.hztd>a
{
	float:right;
	margin:295px 20px 0 0;
}

div.hztd2
{
	width:849px;
	height:339px;
	margin:0 auto;
	margin-bottom:60px;
	background:url("../img/hztd/hztd_2_1.png");
}
div.hztd2>a
{
	float:right;
	margin:295px 20px 0 0;
}