.enterBtn
{
	width:195px;
	height:30%;
	margin:0 auto;
}
.enterBtn img
{
	position: absolute;
	top:60%;
}
.solgan
{
	width:1373px;
	height:86px;
	position: fixed;
	bottom:10%;
	left:50%;
	margin-left:-687px;
}